{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'fsApp/index.css' %}"/>
</head>

<h1>H1 Başlık fsApp</h1>
<h1>{{caption | title}}</h1>
{% comment %} title ilk harfini büyük yapar {% endcomment %}

<ul>
    {% for i in my_list %} 
    <li>{{i}}</li>
     {% endfor %}
</ul>
<br><br><br>
<img src="{% static 'fsApp/django.jpg' %}" width="300" alt="dj">
<br><br><br>
<video width="400" controls>
    <source src="{% static 'fsApp/cat.mp4' %}" type="video/mp4">
    Your browser does not support HTML video.
  </video>
